* {
  margin: 0;
  padding: 0 10px;
  background-color: #f4f4f4;
  text-decoration: none;
  color: inherit;
}

.App-Component {
  background-color: #0c3b2e;
  display: grid;
  padding: 20px;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "navigation article article sidebar"
    "footer footer footer footer";
}

.Navbar {
  grid-area: navbar;
  display: flex;  
  background-color: #f0c38e;
  justify-content: space-between;
  border-bottom: solid 1px #d4d4d4;
  padding: 20px;
}

.Navbar ul > li {
  display: inline;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 800;
}

.Navbar ul {
  background-color: #f0c38e;
  color: #0c3b2e;
}

.Navbar h1 {
  background-color: #f0c38e;
  color: #0c3b2e;
  font-size: 36px;
}

.Navigation {
  position: absolute;
  background-color: brown;
  color: brown;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  grid-area: navigation;
}

.Articles {
  padding: 10px;
  grid-area: article;
}

.Articles .post {
  margin: 20px 0;
  border-bottom: solid 1px #0c3b2e;
}

.Articles h2 {
  font-size: 28px;
}

.Sidebar {
  padding: 10px;
  grid-area: sidebar;
}

.Sidebar .recent-posts {
  margin: 20px 0;
}

.Footer {
  padding: 20px;
  text-align: center;
  grid-area: footer;
}

.Create label {
  text-align: left;
  display: block;
}

.Create h2 {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.Create input,
.Create textarea,
.Create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: solid 1px #0c3b2e;
  display: block;
}

.Create button {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  border-color: #f0c38e;
  background-color: #0c3b2e;
  color: #f0c38e;
  font-weight: 800px;
}

.Create button:hover {
  border-color: #0c3b2e;
  background-color: transparent;
  color: #0c3b2e;
  font-weight: 800px;
}

.delete {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

