* {
  margin: 0;
  padding: 0 10px;
  background-color: #f4f4f4;
  text-decoration: none;
  color: inherit;
}

.App-Component {
  /* background-color: #d4d4d4; */
  display: grid;
  padding: 20px;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "article article article sidebar"
    "footer footer footer footer";
}

.Navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #d4d4d4;
  padding: 20px;
}

.Navbar ul > li {
  display: inline;
  margin-left: 20px;
  text-decoration: none;
}

.Article {
  padding: 10px;
  grid-area: article;
}

.Article .blog {
  margin: 20px 0;
  border-bottom: solid 1px #7b7b7b;
}

.Sidebar {
  padding: 10px;
  grid-area: sidebar;
}

.Sidebar .recent-blogs {
  margin: 20px 0;
  /* padding-top: 5px;
  font-size: 12px; */
}

.Footer {
  padding: 20px;
  text-align: center;
  grid-area: footer;
}

.Create {
  text-align: center;
}

.Create label {
  text-align: left;
  display: block;
}

.Create h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.Create input,
.Create textarea,
.Create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: solid 1px #ddd;
  display: block;
}

.Create button {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.delete {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
